// Primary Colors

$color-Very-Dark-Magenta: hsl(300, 43%, 22%);
$color-Soft-Pink: hsl(333, 80%, 67%);

// Neutral Colors

$color-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$color-Light-Grayish-Magenta: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

// Font Family

$font-family: 'Spartan', sans-serif;